<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.mapper.BlockUserMapper">

    <resultMap id="BaseResultMap" type="com.db.entity.BlockUser">
        <!--@Table block_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="wxSessionKey" column="wx_session_key" jdbcType="VARCHAR"/>
        <result property="wxFaceUrl" column="wx_face_url" jdbcType="VARCHAR"/>
        <result property="wxName" column="wx_name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isFirstVote" column="is_first_vote" jdbcType="INTEGER"/>
        <result property="invitedUser" column="invited_user" jdbcType="VARCHAR"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="phone2" column="phone2" jdbcType="VARCHAR"/>
        <result property="addUserId" column="add_user_id" jdbcType="INTEGER"/>
        <result property="firstBindFlag" column="first_bind_flag" jdbcType="INTEGER"/>
        <result property="authType" column="auth_type" jdbcType="INTEGER"/>
        <result property="addressDetail" column="address_detail" jdbcType="VARCHAR"/>
        <result property="facepicId" column="facepic_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, open_id, phone, password, remark, wx_session_key, wx_face_url, wx_name, gender, real_name, id_number, create_time, update_time, is_first_vote, invited_user, union_id, phone2, add_user_id, first_bind_flag, auth_type, address_detail, facepic_id
        from idecision.block_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, open_id, phone, password, remark, wx_session_key, wx_face_url, wx_name, gender, real_name, id_number, create_time, update_time, is_first_vote, invited_user, union_id, phone2, add_user_id, first_bind_flag, auth_type, address_detail, facepic_id
        from idecision.block_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, open_id, phone, password, remark, wx_session_key, wx_face_url, wx_name, gender, real_name, id_number, create_time, update_time, is_first_vote, invited_user, union_id, phone2, add_user_id, first_bind_flag, auth_type, address_detail, facepic_id
        from idecision.block_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="wxSessionKey != null and wxSessionKey != ''">
                and wx_session_key = #{wxSessionKey}
            </if>
            <if test="wxFaceUrl != null and wxFaceUrl != ''">
                and wx_face_url = #{wxFaceUrl}
            </if>
            <if test="wxName != null and wxName != ''">
                and wx_name = #{wxName}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="realName != null and realName != ''">
                and real_name = #{realName}
            </if>
            <if test="idNumber != null and idNumber != ''">
                and id_number = #{idNumber}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isFirstVote != null">
                and is_first_vote = #{isFirstVote}
            </if>
            <if test="invitedUser != null and invitedUser != ''">
                and invited_user = #{invitedUser}
            </if>
            <if test="unionId != null and unionId != ''">
                and union_id = #{unionId}
            </if>
            <if test="phone2 != null and phone2 != ''">
                and phone2 = #{phone2}
            </if>
            <if test="addUserId != null">
                and add_user_id = #{addUserId}
            </if>
            <if test="firstBindFlag != null">
                and first_bind_flag = #{firstBindFlag}
            </if>
            <if test="authType != null">
                and auth_type = #{authType}
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                and address_detail = #{addressDetail}
            </if>
            <if test="facepicId != null and facepicId != ''">
                and facepic_id = #{facepicId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into idecision.block_user(open_id, phone, password, remark, wx_session_key, wx_face_url, wx_name, gender, real_name, id_number, create_time, update_time, is_first_vote, invited_user, union_id, phone2, add_user_id, first_bind_flag, auth_type, address_detail, facepic_id)
        values (#{openId}, #{phone}, #{password}, #{remark}, #{wxSessionKey}, #{wxFaceUrl}, #{wxName}, #{gender}, #{realName}, #{idNumber}, #{createTime}, #{updateTime}, #{isFirstVote}, #{invitedUser}, #{unionId}, #{phone2}, #{addUserId}, #{firstBindFlag}, #{authType}, #{addressDetail}, #{facepicId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update idecision.block_user
        <set>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="wxSessionKey != null and wxSessionKey != ''">
                wx_session_key = #{wxSessionKey},
            </if>
            <if test="wxFaceUrl != null and wxFaceUrl != ''">
                wx_face_url = #{wxFaceUrl},
            </if>
            <if test="wxName != null and wxName != ''">
                wx_name = #{wxName},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="isFirstVote != null">
                is_first_vote = #{isFirstVote},
            </if>
            <if test="invitedUser != null and invitedUser != ''">
                invited_user = #{invitedUser},
            </if>
            <if test="unionId != null and unionId != ''">
                union_id = #{unionId},
            </if>
            <if test="phone2 != null and phone2 != ''">
                phone2 = #{phone2},
            </if>
            <if test="addUserId != null">
                add_user_id = #{addUserId},
            </if>
            <if test="firstBindFlag != null">
                first_bind_flag = #{firstBindFlag},
            </if>
            <if test="authType != null">
                auth_type = #{authType},
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                address_detail = #{addressDetail},
            </if>
            <if test="facepicId != null and facepicId != ''">
                facepic_id = #{facepicId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from idecision.block_user where id = #{id}
    </delete>

</mapper>